<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Chờ tớ xíu... </p></ngx-spinner>

<mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>Map</mat-card-title>
      <mat-card-subtitle class="mat-body-1">This is test page</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
