.theme-color {
    color: #F97316;
}

.background-theme-color {
    background-color: #F97316;
}

.contentWrapper {
    background-color: #F3F4F6;
}


.social-chips img {
    margin-left: -9px;
    border: 2px solid #ffffff;
}

.social-chips img:first-child {
    margin-left: 0
}
