@use "@angular/material" as mat;
@include mat.core();

@import "variables";
@import "layouts/transitions";
@import "helpers/color";
@import "helpers/icon-size";

//Theme colors

@import "themecolors/default_theme";
@include mat.all-component-themes($bluetheme);

//container layout
@import "overrides/materialoverrides";
@import "container";
@import "layouts/layouts";
@import "grid/grid";
@import "helpers/custom-flex";
@import "helpers/index";


// pages
@import "pages/dashboards";
@import "pages/auth";

// _style-custom.scss
@import "_style-custom.scss";

@import "~@ng-select/ng-select/themes/default.theme.css";
@import 'ngx-toastr/toastr';


.ng-select .ng-select-container {
    border: 1px solid #e4e7eb !important;
    min-height: 52px;
    border-radius: 7px;
}

.ng-select-custom .ng-select-container .ng-value-container .ng-placeholder{
    margin-top: 10px;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    margin-top: 10px;
}
