<div class="flex-layout">
  <app-branding></app-branding>
  <mat-nav-list class="sidebar-list">
    <app-nav-item *ngFor="let item of navItems" [item]="item"> </app-nav-item>
  </mat-nav-list>
  <div class="p-24 m-t-auto">
    <div class="bg-light-accent d-flex align-items-center rounded p-16">
      <img src="/assets/images/profile/user-5.jpg" width="40" class="rounded-circle">
      <div class="m-l-18" style="margin-left: 18px;">
        <h5 class="mat-subtitle-2 f-s-8 f-w-600">Triều Nguyễn</h5>
        <span class="f-s-12">dongtrieuit&#64;gmail.com</span>
      </div>
      <div class="m-l-auto">
        <a  mat-button-ripple-uninitialized mat-icon-button
          class="d-flex justify-content-center mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
           aria-disabled="false" mat-button-is-fab="false">
          <span class="mdc-button__label">
            <i-tabler name="power" class="text-primary icon-18 d-flex"></i-tabler>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
