<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"><p style="color: white" > Chờ tớ xíu... </p></ngx-spinner>

<div class="row">
  <!-- --------------------------------------------------------------------------- -->
  <!-- Sales Overview -->
  <!-- --------------------------------------------------------------------------- -->
  <div class="col-sm-12 col-lg-6">
    <mat-card class="mat-mdc-card mdc-card cardWithShadow" style="background-image: url('/assets/images/backgrounds/banner-1.jpg'); background-size: cover; background-position: center;">
      <mat-card-content class="mat-mdc-card-content p-32" >

        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center social-chips">
            <img src="assets/images/profile/user-2.jpg" width="40" alt="social" class="rounded-circle">
            <img src="assets/images/profile/user-3.jpg" width="40" alt="social" class="rounded-circle">
            <img src="assets/images/profile/user-4.jpg" width="40" alt="social" class="rounded-circle">
            <img src="assets/images/profile/user-5.jpg" width="40" alt="social" class="rounded-circle">
          </div>
          <button mat-mini-fab="" class="text-primary bg-light-primary shadow-none rounded mdc-fab mdc-fab--mini mat-mdc-mini-fab mat-accent mat-mdc-button-base" mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple">
            <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple"></span>
            <span class="mdc-button__label">
              <i-tabler name="bell-ringing" class="icon-20 d-flex"></i-tabler>
            </span>
            <span class="mat-mdc-focus-indicator"></span>
            <span class="mat-mdc-button-touch-target"></span>
          </button>
        </div>
        <mat-card class="mat-mdc-card mdc-card cardWithShadow" style="width: 260px; margin-top: 77px;">
          <mat-card-content >
            <mat-card-title class="mat-mdc-card-title">Chuyến đi Nha Trang </mat-card-title>
            <mat-card-subtitle class="mat-mdc-card-subtitle mat-body-4">
              Nha Trang, 16/08/2002
            </mat-card-subtitle>
  
            <div class="text-center m-t-6">
              <img src="assets/images/theme/map.png" alt="social" class="rounded" style="width: 215px;">
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- --------------------------------------------------------------------------- -->
  <!-- end Sales overview -->
  <!-- --------------------------------------------------------------------------- -->

  <div class="col-sm-12 col-lg-6">
    <!-- --------------------------------------------------------------------------- -->
    <!-- Monthly Earnings -->
    <!-- --------------------------------------------------------------------------- -->
    <mat-card class="cardWithShadow">
      <mat-card-content class="m-b-32 p-x-24">
        <div class="text-center">
          <img src="/assets/images/svgs/location.svg" alt="" >
        </div>
        <h4 class="mat-headline-5 text-center">Have a good day, Triều Nguyễn</h4>
        <mat-card-subtitle class="mat-mdc-card-subtitle mat-body-1 text-center m-t-16">
          Chúng tôi trân trọng từng chuyến đi của bạn. Chúc bạn sẽ có một trải nghiệm tuyệt vời cùng bạn bè và người thân!
        </mat-card-subtitle>
        <div class="text-center">
          <mat-form-field appearance="outline" style="width: 320px; margin-top: 15px; margin-right: 10px;" color="primary">
            <input matInput  placeholder="Tôi muốn đi ...."/>
          </mat-form-field>

          <br>
          <a [routerLink]="['/']" mat-flat-button  class="m-t-10" style="background-color: #F97316; color: #ffffff;">
            Tạo chuyến đi
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-8">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <mat-card-title>Các chuyến đi của tôi</mat-card-title>
        <div class="table-responsive m-t-16">
          

          <table mat-table [dataSource]="dataSource" class="w-100">
            <!-- Assigned Column -->
            <ng-container matColumnDef="assigned">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                Thành viên
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center social-chips">
                    <img *ngFor="let member of element.members" [src]="member.urlAvatar" width="40" [alt]="member.fullName" class="rounded-circle">
                  </div>
                </div>
              </td>
            </ng-container>
          
            <!-- Title Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                Chuyến đi
              </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">
                <a href="javascript:void(0)" class="text-primary text-decoration-none mat-body-1" (click)="getTimelineTrip(element.id)"> {{ element.title }} </a>

                
              </td>
            </ng-container>
          
            <!-- Start Date Column -->
            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                Ngày bắt đầu
              </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">
                {{ element.startDate }}
              </td>
            </ng-container>
          
            <!-- End Date Column -->
            <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
                Ngày kết thúc
              </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">
                {{ element.endDate }}
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          
          
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-lg-4">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <mat-card-title>Lịch trình cho chuyến đi</mat-card-title>

        <div class="timeline m-t-24">
          <div
            class="timeline-item d-flex overflow-hidden"
            *ngFor="let item of listTimelineTrip"
          >
            <div class="time text-right mat-subtitle-1 f-s-14">
              {{ item.time }}
            </div>
            <div class="point d-flex align-items-center">
              <span class="timeline-badge border-{{ item.color }} m-y-8"></span>
              <span class="timline-border d-block"></span>
            </div>
            <div class="desc">
              <ng-template [ngIf]="item.subtext">
                <span class="mat-subtitle-1 f-s-14 lh-20">{{
                  item.subtext
                }}</span>
              </ng-template>
              <ng-template [ngIf]="item.title">
                <span class="mat-subtitle-1 f-s-14 lh-20 f-w-600 d-block">{{
                  item.title
                }}</span>
              </ng-template>
              <ng-template [ngIf]="item.link">
                <a href="item.link" class="text-primary text-decoration-none mat-body-1"
                  >Xem vị trí bản đồ</a
                >
              </ng-template>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<h4 class="mat-headline-5 m-b-8">Các điểm du lịch được đề xuất</h4>
<div class="row">
  
  <div class="col-sm-6 col-lg-3" *ngFor="let productcard of productcards">
    <mat-card class="cardWithShadow productcard overflow-hidden">
      <a routerLink="/widgets/cards">
        <img
          src="{{ productcard.imgSrc }}"
          alt="imgSrc"
          class="w-100"
          mat-card-image
        />
      </a>
      <mat-card-content class="p-b-24 p-t-12 position-relative">
        <button
          mat-mini-fab
          color="primary"
          class="icon-30 cart-btn"
          matTooltip="Thêm vào mục ưu thích"
        >
          <i-tabler name="heart" class="icon-16"></i-tabler>
        </button>
        <mat-card-title class="mat-headline-2 f-s-16 m-b-4">{{
          productcard.title
        }}</mat-card-title>
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <h6 class="mat-body-2 f-w-600">{{ productcard.price }}</h6>
            <span class="f-s-14 m-l-4 text-decoration-line-through"
              >{{ productcard.rprice }}</span
            >
          </div>
          <div class="m-l-auto d-flex gap-4">
            <span
              ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
            ></span>
            <span
              ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
            ></span>
            <span
              ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
            ></span>
            <span
              ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
            ></span>
            <span
              ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
            ></span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
