<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <!-- <mat-card-title>My trip</mat-card-title>
    <mat-card-subtitle class="mat-body-1">This is test page</mat-card-subtitle> -->
    <div class="text-center" style="margin-top: 110px; margin-bottom: 110px;">
      <img src="/assets/images/vector/traveling-1.png" width="720px" height="460px">
      <br>
      <a [routerLink]="['/']" mat-flat-button  class="m-t-10" style="background-color: #F97316; color: #ffffff;">
        Tạo chuyến đi
      </a>
    </div>
  </mat-card-content>
</mat-card>
